<div class="site-tree" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" class="input-container">
        <div fxLayout="row" class="main_input_field" fxLayoutAlign="start center">
            <img src="assets/icons/search.svg" class="search-img">
            <input class="input_field" [(ngModel)]="voiceText" matInput placeholder="Search">
            <div fxFlex></div>
            <img width="8px" src="assets/icons/mic.svg">
        </div>
    </div>

    <div class="tree-container">
        
    </div>
</div>